<div class="container-fluid bg-light">
    <div class="container bg-light">

        <div class="row mt-4" style="height: 500px;">
            <div class="col">
            </div>
            <div class="col-md-6 bg-white shadow">

                <div class="card bg-warning">
                    <h4 class="text-white ps-3 pb-2">To Do List</h4>
                </div>

                <div class="shadow">
                    <div class="input-group p-3">
                        <input type="text" class="form-control" placeholder="Enter Task" name="task" [(ngModel)]="addTaskValue">
                        <button class="btn btn-outline-success" type="button" id="button-addon2" (click)="addTask()">+</button>
                    </div>
                </div>

                <h4 class="text-primary mt-4"> Tasks : </h4>

                <div style="overflow-y: auto; height: 500px;">
                    <div class="m-3" *ngFor= "let task of taskArr">
                        <div class="p-2 shadow border">
                            <div class="input-group row ps-4">
                                <div class="card col-md-9 border-0">{{task.task_name}}</div>
                                <button class="btn btn-outline-primary col me-3" data-bs-toggle="modal" type="button"
                                data-bs-target="#staticBackdrop" (click)="call(task)">edit</button>  
                                <div class="btn btn-outline-danger col-1" (click) ="deleteTask(task)">X</div>  
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Update Task</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="input-group p-3">
                                <input type="text" class="form-control" placeholder="Enter Task" name="task" [(ngModel)]="editTaskValue">
                                <button class="btn btn-outline-success" data-bs-dismiss="modal" type="button" id="button-addon2" (click)="editTask()">Update</button>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>

            </div>
            <div class="col"></div>
        </div>
    </div>
</div>